<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Thot_Librery.Properties.Settings.Conecctionstring"
            connectionString="Server=35.193.221.48;Database=tecnica3;User Id=sqlserver;Password=100998;Trusted_Connection=False;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>